@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

@import "tailwindcss";

.font-headers {
  font-family: "Young Serif", serif;
  font-weight: 400;
}
.font-body {
  font-family: "Outfit", sans-serif;
}
@theme {
  --color-brown-800: hsl(14, 45%, 36%);
  --color-stone-150: hsl(30, 18%, 87%);
}
